<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>lek. Jan Kowalski</mat-card-title>
            <mat-card-subtitle>okulista</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="">
        <mat-card-content>
            <div class="buttons">
                <button mat-rised-button
                (click)="makeAppointment()">
                    Umów wizytę
                </button>
                <button mat-rised-button
                (click)="sendMessage()">
                    Wyślij wiadomość
                </button>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="bio">
        <h2>O mnie</h2>
        <p>
            Studiowałem na Wydziale Lekarskim Uniwersytetu Medycznego w Poznaniu. Specjalizację ukończyłem w Klinice Okulistycznej w Szpitalu Klinicznym Przemienienia Pańskiego UM w Poznaniu. W trakcie specjalizacji odbyłem roczny staż we Frankfurcie nad Odrą (Krankenhaus Klinikum Frankfurt Oder). Po ukończeniu specjalizacji z okulistyki pracowałem 8 lat w Szpitalu Wojewódzkim w Poznaniu, gdzie m.in. zajmowałem się leczeniem pacjentów z AMD, chirurgią plastyczną powiek, a także wykonywałem operacje zaćmy. Odbyłem zagraniczny staż w ramach European Board of Ophthalmology (EBO) w Dublinie (The Mater Hospital) oraz w Kopenhadze (Glostrup Hospital).

Posiadam 12 - letnie doświadczenie zdobyte na dyżurach okulistycznych ( Szpital Kliniczny Przemienienia Pańskiego UM, 111 Szpital Wojskowy, Szpital Wojewódzki, Szpital w Puszczykowie).

Obecnie pracuję w Klinice Okulistycznej Optegra im Św. Jerzego, gdzie zajmuję się laseroterapią pacjentów z cukrzycą, a także wykonuję zabiegi usunięcia zaćmy w ramach NFZ.
        </p>
        <h3>Cennik</h3>
        <ul>
            <li>Konsultacja okulistyczna - 200 zł</li>
            <li>Pole widzenia obu oczu (również neurologiczne) - 200 zł</li>
            <li>Usunięcie zaćmy wturnej - 350 zł</li>
            <li>Irydotomia - 350zł</li>
        </ul>
        <h3>Opinie</h3>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Marcin</mat-card-title>
                <mat-card-subtitle>
                    <mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <span>7 grudnia 2021</span>
                <p>
                    Fachowy, szczegółowy i klarowny przekaz informacji. Wyczerpujące i konkretne odpowiedzi na wszelkie wątpliwości. Pełen profesjonalizm! 
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Agnieszka</mat-card-title>
                <mat-card-subtitle>
                    <mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon><mat-icon>stars</mat-icon>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <span>12 stycznia 2022</span>
                <p>
                    Wspaniały lekarz. Gorąco polecam.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
