<div>
    <app-toolbar></app-toolbar>
</div>

<div>
    <h2>Znajdź specjalistę</h2>
    <p>
        <mat-form-field>
            <mat-label>Specjalizacja</mat-label>
            <input matInput>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Nazwisko (opcjonalne)</mat-label>
            <input matInput>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Miejscowość</mat-label>
            <input matInput>
        </mat-form-field>
    </p>
    
    <button mat-icon-button>
        Szukaj
    </button>
</div>